/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,100,300,500,700);
* { font-family: 'Roboto'; } */
.navbar, .subnavbar {
  background-color: #8868ef;
  color: #fff;
}
a.nav-btn{color:#fff!important;}
.contact-header {
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
}
.modal {
border-radius:0px !important;
}
a.tab-link.active {
border-radius:8px;
background-color:#eee;
}
span.tabbar-label {
color: #999 !important;
}
.packages .item-content { height: 80px; }
img.package-icon { border-radius:100% !important; }
.load {
font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
font-weight: 300;
font-size: 1.8em;
color: #393d45;
text-rendering: optimizeLegibility;
}
#main-header, #sub-header, #loader {
color:#fff;
position: relative;
margin: 2em auto 1em;
padding-bottom: 0.5em;
font-size: 1.6em;
font-weight: 200;
}